parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with Symfony\\Component\\Config\\Definition\\Builder\\ArrayNodeDefinition\<Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder\<''array''\>\> and ''children'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: '#^Parameter \#2 \$value of method Symfony\\Component\\DependencyInjection\\Container\:\:setParameter\(\) expects array\|bool\|float\|int\|string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: src/DependencyInjection/SymfonyImportExportExtension.php

		-
			message: '#^Method SymfonyImportExportBundle\\Services\\Export\\Exporter\:\:getResults\(\) should return array\<int, object\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Services/Export/Exporter.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Export/Exporter.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Export/Exporter.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Services/Import/Importer.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Services/Import/Importer.php

		-
			message: '#^Parameter \#1 \$fields of method SymfonyImportExportBundle\\Services\\Import\\Importer\:\:combineRowData\(\) expects array\<string\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Import/Importer.php

		-
			message: '#^Parameter \#2 \$uniqueFields of method SymfonyImportExportBundle\\Services\\Import\\Importer\:\:findExistingEntity\(\) expects array\<string, string\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Import/Importer.php

		-
			message: '#^Parameter \#3 \$config of method SymfonyImportExportBundle\\Services\\Import\\Importer\:\:formatRowData\(\) expects array\<string, mixed\>, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Import/Importer.php

		-
			message: '#^Parameter \#3 \$fields of method SymfonyImportExportBundle\\Services\\Import\\Importer\:\:updateEntity\(\) expects array\<string\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Import/Importer.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Services/Import/ImporterTemplate.php

		-
			message: '#^Cannot access offset ''allow_delete'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Services/Import/ImporterTemplate.php

		-
			message: '#^Cannot access offset ''fields'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Services/Import/ImporterTemplate.php

		-
			message: '#^Parameter \#1 \$fields of method SymfonyImportExportBundle\\Services\\Import\\ImporterTemplate\:\:getCsvTemplate\(\) expects array\<string\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Import/ImporterTemplate.php

		-
			message: '#^Parameter \#1 \$fields of method SymfonyImportExportBundle\\Services\\Import\\ImporterTemplate\:\:getXlsxTemplate\(\) expects array\<string\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/Import/ImporterTemplate.php
